<div *ngIf="duplicacyError" class="alert alert-warning alert-dismissible fade show" role="alert">
  User name already exists. Try a different user name.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="duplicacyError=false">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="internalServerError" class="alert alert-danger alert-dismissible fade show" role="alert">
  Something wrong happened. Try again.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="internalServerError=false">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <div class="container form-container">
  <h3 class="text-center text-info">Register</h3>
  <form action="/api/user/register" (submit)="onSubmitForm($event, username, password)" method="POST">
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" class="form-control" id="username" required #username>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" required #password>
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="Register" >
  </form>
  
  <br>

  Already have an account? Login <a routerLink="/login">here.</a>
</div>
